/* @media screen and (max-width: 1082px) {
    body{
        background-color: green;

      }

      .containeer{
        max-width: 70%;
      }
      .code-country{
        font-size: 15px;
        z-index: 1;
      }
      
      .card-title{
        margin-left: 10px;
        font-size: 25px;
      }
      .card-date{

        margin-top: 35px;
        font-size: 15px;
        margin-left: 10px;
        z-index: 1;
      }
      .card-temp{
        margin-left: 50px;
        margin-top: 170px;
        font-size: 70px;
      }
      .card-desc{
      
        margin-left: 40px;
        margin-top: 250px;
        font-size: 12px;
    
      }

      .juliso{
        font-size: 12px;
      }
      
      .icon{
        margin-left: 5px;
      }
      
      .card-text{
        margin: 15px 20px;
        font-size: 12px;
        
      }
      
    
      .description img{
        width: 50px;
        height: 50px;
        margin: auto;
        z-index: 1;
      }

      
      .img-right{
        position: absolute;
        height: 200px;
        width: 200px;
        top: 35%;
        left: 62%;
      
      }


}

@media screen and (max-width: 1054px) {
    body{
        background-color: red;
      }

      .containeer{
        max-width: 70%;
      }
      .code-country{
        font-size: 10px;
        z-index: 1;
      }
      
      .card-title{
        margin-left: 5px;
        font-size: 18px;
      }
      .card-date{

        margin-top: 25px;
        font-size: 12px;
        margin-left: 5px;
      }
      .card-temp{
        margin-left: 40px;
        margin-top: 150px;
        font-size: 70px;
      }
      .card-desc{
      
        margin-left: 40px;
        margin-top: 220px;
        font-size: 10px;
    
      }

      .juliso{
        font-size: 10px;
      }
      
      .icon{
        margin-left: 5px;
      }
      
      .card-text{
        margin: 15px 20px;
        font-size: 10px;
        
      }
      
    
      .description img{
        width: 50px;
        height: 50px;
        margin: auto;
        z-index: 1;
      }      



}

@media screen and (max-width: 965px) {
    body{
        background-color: pink;
      }

      .containeer{
        max-width: 70%;
      }
      .code-country{
        font-size: 10px;
        z-index: 1;
      }
      
      .card-title{
        margin-left: 5px;
        font-size: 18px;
      }
      .card-date{

        margin-top: 25px;
        font-size: 12px;
        margin-left: 5px;
      }
      .card-temp{
        margin-left: 40px;
        margin-top: 150px;
        font-size: 70px;
      }
      .card-desc{
      
        margin-left: 40px;
        margin-top: 220px;
        font-size: 10px;
    
      }

      .juliso{
        font-size: 10px;
        margin: 0 30px;
        margin-bottom: 20px;
      }
    
      
    
      .description img{
        width: 50px;
        height: 50px;
        margin: auto;
        z-index: 1;
      }      
      
      
      
      
    }
    */
    